/* common styles - загальні стилі */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

body {
  font-family: 'Inter Tight', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: -0.02em;
  color: #fafafa;
  background-color: #1c1d20;
}

/* mobile */
.container {
  max-width: 375px;
  min-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}

/* tablet */
@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

/* desktop */
@media only screen and (min-width: 1440px) {
  .container {
    min-width: 1440px;
  }
}