.covers {
  height: 508px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(46, 47, 66, 0.2),
      rgba(46, 47, 66, 0.2)), url("../img/covers/background-desktop.webp");
  background-size: 770px auto;
  background-position: 75% 45%;
  overflow: hidden;
}

@media (min-resolution: 192dpi) {
  .covers {
    background-image: linear-gradient(rgba(46, 47, 66, 0.2),
        rgba(46, 47, 66, 0.2)), url("../img/covers/background-desktop@2x.webp");
    background-size: cover;
  }
}

@media only screen and (min-width: 768px) {
  .covers {
    height: 960px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.2),
        rgba(46, 47, 66, 0.2)), url("../img/covers/background-desktop.webp");
    background-size: 1440px auto;
    background-position: 75% 35%;
  }

  @media (min-resolution: 192dpi) {
    .covers {
      background-image: linear-gradient(rgba(46, 47, 66, 0.2),
          rgba(46, 47, 66, 0.2)), url("../img/covers/background-desktop@2x.webp");
    }
  }
}


@media only screen and (min-width: 1440px) {
  .covers {
    background-image: linear-gradient(rgba(46, 47, 66, 0.2),
        rgba(46, 47, 66, 0.2)), url("../img/covers/background-desktop.webp");
  }

  @media (min-resolution: 192dpi) {
    .covers {
      background-image: linear-gradient(rgba(46, 47, 66, 0.2),
          rgba(46, 47, 66, 0.2)), url("../img/covers/background-desktop@2x.webp");
    }
  }
}